.container{
display: flex;
flex-direction: column-reverse;

}
.container div{
    background-color: aqua;
    border: 4px solid plum;
    height: 14px;
    width: 100vw;
}-
ul {
   display: flex;
   justify-content: space-evenly;
   background-color: antiquewhite;
   

  }
  li{
    text-decoration: none;
    list-style: none;
  }